# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Log files
*.log

# Database and backup files
*.db
*.sqlite3
*.bak
*.tar
*.zip
backups/
data/
